*{
    padding: 0;
    margin: 0;
}
.contenedor{
    position: relative;
}
.cuadro{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    transition: blackground-color 0.3s ease;
}
.titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}
@media screen and (max-width: 768px){
    .cuadro{
        background-color: red;
    }
    .titulo{
        font-size: 2em;
    }
}
@media screen and (max-width: 480px){
    .cuadro{
        background-color: greenyellow;
    }
    .titulo{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 320px){
    .cuadro{
        background-color: pink;
    }
    .titulo{
        font-size: 1em;
    }
}